
<% include common/header.html %>
    <div id="title-container" class="container">
        <section id="title">
            <h1 id="title-text">
                <span class="c c0">k</span>
                <span class="c c1">n</span>
                <span class="c c2">o</span>
                <span class="c c3">w</span>
                <span class="c s c4"> </span>
                <span class="c white c5">P</span>
                <span class="c white c6">e</span>
                <span class="c white c7">o</span>
                <span class="c white c8">p</span>
                <span class="c white c9">l</span>
                <span class="c white c10">e</span>
            </h1>
            <div id="title-arrow">
                <a class="no-offset not-mobile" href="#intro">
                    <img src="/images/title-arrow.png" alt="Down arrow">
                </a>
            </div>
        </section>
    </div>
    <div class="agents">
        <div class="introduce">
            <div class="right">
                <h2>Change agents</h2>
                <p class="bold">Research for a changing world</p>
                <p>Smarter thinking, leading edge technology and common sense. We conduct agile and human research to drive business growth. It’s that simple.</p>
            </div>
        </div>
    </div>
    <div id="focus-container" class="container">
        <section id="focus">
            <div id="focus-text" class="block">
                <h2>People are talking about you</h2>
                <p id="focus-bold" class="bold">Hear them first</p>
                <p id="focus-body">We find what people are saying about your business, online and off, positive or negative, before it becomes social media buzz. </p>
            </div>
        </section>
    </div>
    <div id="story-container" class="container">
        <section class="story">
            <div id="story-text" class="block">
                <p class="bold">Get into their head and heart</p>
                <p>Discover the needs, wants and desires of your customers. Drive change through a deep understanding of your audience, action everyday insights quickly and use big strategic insights to grow your business.</p>
            </div>
            <div id="story-heading" class="block">
                <h2>Don’t just know your audience</h2>
            </div>
        </section>
    </div>
    <div id="offer-container" class="container">
        <section id="offer">
            <div id="offer-text" class="block">
                <h2>Humanising research</h2>
                <p id="offer-bold" class="bold">Research that makes sense</p>
                <p id="offer-body">We talk your language. Easily understand and leverage our insights to drive business growth.</p>
            </div>
        </section>
    </div>
<% include common/footer.html %>
</body>
</html>