<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Brand Village · Know People</title>
    <meta name="description" content="Intelligence comes from knowing more about people. We help you do that.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="../src/images/favicon.ico">
    <link rel="stylesheet" href="../src/stylesheets/header.css">
    <link rel="stylesheet" href="../src/stylesheets/index.css">
    <script src="../src/javascript/index.js"></script>
</head>
<body>
    <section class="nav">
        <div class="main">
            <div class="nav_left">
                <ul>
                    <li>
                        <a href="">OUR FOCUS</a>
                    </li>
                    <li>
                        <a href="">OUR OFFER</a>
                    </li>
                    <li>
                        <a href="">OUR STORY</a>
                    </li>
                    <li>
                        <a href="">OUR CHIEFS</a>
                    </li>
                    <li>
                        <a href="">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <div class="nav_right">
                <a href=""><img src="../src/images/top-header-logo.png"> </a>
            </div>
        </div>
    </section>
    <div id="title-container" class="container">
        <section id="title">
            <h1 id="title-text">
                <span class="c c0">K</span>
                <span class="c c1">n</span>
                <span class="c c2">o</span>
                <span class="c c3">w</span>
                <span class="c s c4"> </span>
                <span class="c white c5">P</span>
                <span class="c white c6">e</span>
                <span class="c white c7">o</span>
                <span class="c white c8">p</span>
                <span class="c white c9">l</span>
                <span class="c white c10">e</span>
            </h1>
            <div id="title-arrow">
                <a class="no-offset not-mobile" href="#intro">
                    <img src="../src/images/title-arrow.png" alt="Down arrow">
                </a>
            </div>
        </section>
    </div>
    <div class="agents">
        <div class="introduce">
            <div class="right">
                <h2>Change agents</h2>
                <p class="bold">Research for a changing world</p>
                <p>Smarter thinking, leading edge technology and common sense. We conduct agile and human research to drive business growth. It’s that simple.</p>
            </div>
        </div>
    </div>
</body>
</html>