<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>I Know People</title>
    <meta name="description" content="Intelligence comes from knowing more about people. We help you do that.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <script src="/javascript/jquery-3.1.1.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/digital.js"></script>
</head>
<body>
<section class="nav">
    <div class="main">
        <div class="nav_left">
            <ul>
                <li>
                    <a href="">OUR FOCUS</a>
                </li>
                <li>
                    <a href="">OUR OFFER</a>
                </li>
                <li>
                    <a href="">OUR STORY</a>
                </li>
                <li>
                    <a href="">OUR CHIEFS</a>
                </li>
                <li>
                    <a href="">CONTACT US</a>
                </li>
            </ul>
        </div>
        <div class="nav_right">
            <a href=""><img src="/images/top-header-logo.png"> </a>
        </div>
    </div>
</section>